<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Reactive_1_New -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3364370913544540"
     data-ad-slot="7538536119"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer class="footer_magnum">
	<a class="subscribe_magnum btn" target="_blank" href="http://andreksinn.ghost.io/rss/">
		<i class="fa fa-rss"></i> <span class="hidethis_magnum">Subscribe!</span>
	</a>
	<div class="footertext_magnum">
		[Where Unspecified] <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.it"><img alt="Licenza Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span>AndreK's Inn (Blog)</span> di<a href="http://andreksinn.ghost.io" rel="cc:attributionURL"> AndréK</a> è distribuito con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.it">Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale</a> &bull; Free Culture Compatible!
	<div class="footertext_magnum">
		Powered by <a href="http://tryghost.org" target="_blank">Ghost</a> & Built by <a href="http://ghostlook.com" target="_blank">GhostLook</a> and AndreK
	</div>
    
        <!-- AndreK Rocks Over All! - AndreK Rocce Su Tutto! -->
    
        <!-- Vota roccia! -->
    
</footer>
